{{ header }}
<div id="common-task4" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <div style="display: flex; justify-content: center;">
        <div>
          <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-import" class="form-horizontal">
            <div class="required" style="display: flex;">
              <label class="control-label" for="input-query" style="padding-right: 20px;">Enter the xml file</label>
              <div style="padding-right: 20px;">
                <input type="file" name="file" id="file" accept=".xml" class="form-control">
                {% if error_file %}
                  <div class="text-danger">{{ error_file }}</div>
                {% endif %}
              </div>
            </div>
          </form>
        </div>
        <button type="submit" name="import" form="form-import" data-toggle="tooltip" title="{{ button_import }}" class="btn btn-danger"><i class="fa fa-upload"></i> Download the modified file</button>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}